[submodule "4D8-HACK"]
	path = 4D8-HACK
	url = https://github.com/koteitan/js-sprite-game.git
	branch = 4droguelike
[submodule "4dbill"]
	path = 4dbill
	url = https://github.com/koteitan/4dsoko.git
	branch = 4dbill
[submodule "4dtron"]
	path = 4dtron
	url = https://github.com/koteitan/4dsoko.git
	branch = 4dtron
[submodule "staged/fractalblockmaze"]
	path = beta/fractalblockmaze
	url = git@github.com:koteitan/fractalblockmaze.git
[submodule "staged/nostr-post-checker"]
	path = beta/nostr-post-checker
	url = git@github.com:koteitan/nostr-post-checker.git
[submodule "old/nostr-post-checker"]
	path = old/nostr-post-checker
	url = git@github.com:koteitan/nostr-post-checker.git
[submodule "beta/countdown"]
	path = beta/countdown
	url = git@github.com:koteitan/countdown.git
[submodule "beta/nostr-tsne"]
	path = beta/nostr-tsne
	url = git@github.com:koteitan/nostr-tsne.git
[submodule "beta/awesome-nostr-japan"]
	path = beta/awesome-nostr-japan
	url = https://github.com/koteitan/awesome-nostr-japan
	branch = feature/apps-like
